.sleepytable-loading td,
.sleepytable-empty td {
  text-align: center;
}
.sleepytable-default .sleepytable-sort-row {
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.sleepytable-default .sleepytable-sort-row th {
  background: #ffffff;
  background: -moz-linear-gradient(top, #f7f7f7 0%, #ffffff 15%, #d8d8d8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(15%, #ffffff), color-stop(100%, #d8d8d8));
  background: -webkit-linear-gradient(top, #f7f7f7 0%, #ffffff 15%, #d8d8d8 100%);
  background: -o-linear-gradient(top, #f7f7f7 0%, #ffffff 15%, #d8d8d8 100%);
  background: -ms-linear-gradient(top, #f7f7f7 0%, #ffffff 15%, #d8d8d8 100%);
  background: linear-gradient(to bottom, #f7f7f7 0%, #ffffff 15%, #d8d8d8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#d8d8d8',GradientType=0);
  padding: 4px 22px 4px 4px;
  margin-right: 10px;
  position: relative;
  border-top: 1px solid #dedede !important;
  border-bottom: 1px solid #bfbfbf;
  color: #222222;
}
.sleepytable-default .sleepytable-sort-row th:not(:last-child) {
  border-right: 1px solid #d8d8d8;
}
.sleepytable-default .sleepytable-sort-row th:not(:first-child) {
  border-left: 1px solid #ffffff;
}
.sleepytable-default .sleepytable-sort-row th.sleepytable-sort-active {
  background: #ffffff;
  background: -moz-linear-gradient(top, #d8d8d8 0%, #ffffff 15%, #f7f7f7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d8d8d8), color-stop(15%, #ffffff), color-stop(100%, #f7f7f7));
  background: -webkit-linear-gradient(top, #d8d8d8 0%, #ffffff 15%, #f7f7f7 100%);
  background: -o-linear-gradient(top, #d8d8d8 0%, #ffffff 15%, #f7f7f7 100%);
  background: -ms-linear-gradient(top, #d8d8d8 0%, #ffffff 15%, #f7f7f7 100%);
  background: linear-gradient(to bottom, #d8d8d8 0%, #ffffff 15%, #f7f7f7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#f7f7f7',GradientType=0);
  border-top: 1px solid #b2b2b2 !important;
  border-bottom: 1px solid #dedede;
  color: #222222;
}
.sleepytable-default .sleepytable-sort-row th.sleepytable-sort-active:not(:last-child) {
  border-right: 1px solid #f7f7f7;
}
.sleepytable-default .sleepytable-sort-row th.sleepytable-sort-active:not(:first-child) {
  border-left: 1px solid #f7f7f7;
}
.sleepytable-default .sleepytable-sort-row th.sleepytable-sort-disabled {
  cursor: auto;
  background: #dedede;
  filter: none;
  padding-right: 4px;
}
.sleepytable-default .sleepytable-sort-row th > i {
  position: absolute;
  right: 5px;
}
.sleepytable-default .icon-sort {
  background-image: url("../assets/arrow-sprite.png");
  width: 16px;
  height: 16px;
}
.sleepytable-default .icon-sort-both {
  background-image: url("../assets/arrow-sprite.png");
  width: 16px;
  height: 16px;
  background-position: 0px 0px;
}
.sleepytable-default .icon-sort-asc {
  background-image: url("../assets/arrow-sprite.png");
  width: 16px;
  height: 16px;
  background-position: -16px 0px;
}
.sleepytable-default .icon-sort-desc {
  background-image: url("../assets/arrow-sprite.png");
  width: 16px;
  height: 16px;
  background-position: -32px 0px;
}
.sleepytable-default .sleepytable-filter-row {
  background: #f7f7f7;
  background: -moz-linear-gradient(top, #d0d0d0 0%, #f7f7f7 25%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d0d0d0), color-stop(25%, #f7f7f7), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #d0d0d0 0%, #f7f7f7 25%, #ffffff 100%);
  background: -o-linear-gradient(top, #d0d0d0 0%, #f7f7f7 25%, #ffffff 100%);
  background: -ms-linear-gradient(top, #d0d0d0 0%, #f7f7f7 25%, #ffffff 100%);
  background: linear-gradient(to bottom, #d0d0d0 0%, #f7f7f7 25%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0d0d0', endColorstr='#ffffff',GradientType=0);
}
.sleepytable-default .sleepytable-filter-row th {
  padding: 4px;
}
.sleepytable-default .sleepytable-filter-row th input,
.sleepytable-default .sleepytable-filter-row th select {
  margin-bottom: 0px;
}
.sleepytable-default .sleepytable-filter-row input,
.sleepytable-default .sleepytable-filter-row select {
  height: auto !important;
  width: 95%;
  box-sizing: border-box;
}
.sleepytable-default .sleepytable-pager {
  list-style: none;
  text-align: center;
}
.sleepytable-default .sleepytable-pager * {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.sleepytable-default .sleepytable-pager > span,
.sleepytable-default .sleepytable-pager form {
  display: inline-block;
  border: 1px solid #cccccc;
  padding: 8px;
  padding-bottom: 11px;
  background-color: #eeeeee;
  color: #222222;
}
.sleepytable-default .sleepytable-pager .first:hover,
.sleepytable-default .sleepytable-pager .prev:hover,
.sleepytable-default .sleepytable-pager .next:hover,
.sleepytable-default .sleepytable-pager .last:hover {
  border: 1px solid #0088cc;
  background-color: #8eb7cc;
  color: #0088cc;
  cursor: pointer;
}
.sleepytable-default .sleepytable-pager .first.disabled,
.sleepytable-default .sleepytable-pager .first.disabled:hover,
.sleepytable-default .sleepytable-pager .prev.disabled,
.sleepytable-default .sleepytable-pager .prev.disabled:hover,
.sleepytable-default .sleepytable-pager .next.disabled,
.sleepytable-default .sleepytable-pager .next.disabled:hover,
.sleepytable-default .sleepytable-pager .last.disabled,
.sleepytable-default .sleepytable-pager .last.disabled:hover {
  border: 1px solid #dddddd;
  background-color: #eeeeee;
  color: #cccccc;
  cursor: auto;
}
.sleepytable-default .sleepytable-pager form {
  padding: 4px 8px;
}
.sleepytable-default .sleepytable-pager form input,
.sleepytable-default .sleepytable-pager form textarea,
.sleepytable-default .sleepytable-pager form select {
  display: inline-block;
  width: auto;
  margin-bottom: 0px !important;
}
